@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quicksand:wght@300..700&family=Silkscreen:wght@400;700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$font-popins:  "Poppins", serif;
$font-Playfair:  "Playfair Display", serif;
$font-Quicksand:  "Quicksand", serif;
$font-Arsenal-SC:  "Arsenal SC", serif;
$font-Cinzel:  "Cinzel", serif;
$font-Silkscreen:  "Silkscreen", serif;
$font-Unna:  "Unna", serif;
$font-Press-Start-2P:  "Press Start 2P", serif;