// Import base
@use "../base" as *;

// Import abstracts (variables, mixins, functions)
@use "../abstracts" as *;







.feat-post-art-cnt {
    @include w-h-100;
    @include fccc;
    position: relative;
}

.feat-post-img-cnt {
    @include w-h-100;
    @include fccc;
}

.feat-post-img-cnt img {
    @include w-h-100;
    object-fit: cover;
}

.feat-post-desc-cnt {
    @include w-100-h-auto(clamp(2rem, 6rem, 14rem));
    @include fcsbc;
    background-color: rgba(111, 96, 167, 0.8);
    position: absolute;
    bottom: 0;
}

.feat-post-heading {
    @include w-100-h-auto;
    @include frsc;

    
}
.feat-post-heading a{
    @include w-100-h-auto;
    @include frsc;
    @include line-clamp(2);
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 1.4rem;
    padding: 0.2rem 0.3rem;
    text-transform: capitalize
}


.cat-date-cnt {
    @include w-100-h-auto;
    @include frsc;
    font-size: 0.6rem;
    gap: 1rem;
}

.feat-date, .feat-cat {
    padding: 0.2rem 0.3rem;
    background-color: brown;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}