// Import base styles
@use "../base" as *;

// Import abstracts (variables, mixins, functions)
@use "../abstracts" as *;

// Import components
@use "../components" as *;

// Import pages
@use "../pages" as *;









footer {
    @include clamp-w-h(21.3rem, 60vw, 100vw, 20rem, auto, auto);
    @include fccc;
    border-radius: $br10;
    margin: 0 auto;
    gap: 4rem;
    padding-top: 6rem;
    border-top: 3px solid $primary-color;
    margin-top: 2rem;

    @include respond-to(xxl) {
        //1450px
        @include clamp-w-h(21.3rem, 70vw, 100vw, 20rem, auto, auto);
    }

    @include respond-to(xl) {
        //1200px
        @include clamp-w-h(21.3rem, 75vw, 100vw, 20rem, auto, auto);
    }

    @include respond-to(lg) {
        //1024px
        @include clamp-w-h(21.3rem, 80vw, 100vw, 20rem, auto, auto);
    }

    @include respond-to(md) {
        //768px
        @include clamp-w-h(21.3rem, 95vw, 100vw, 20rem, auto, auto);
    }

    @include respond-to(sm) {
        //576px
        @include clamp-w-h(21.3rem, 99vw, 100vw, 20rem, auto, auto);
    }
}

.dark footer {
    background-color: $secondary-color;
}

.ftr-sec1{
    @include w-100-h-auto;
    @include frcc;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include respond-to(lg){
        @include fccc;
    }
}


.ftr-email-cnt {
    @include clamp-w-h(10%, 50%, 100%,  3rem, 4rem, 10rem);
    @include frcc;
    display: flex;
    align-items: center;
    @include respond-to(lg) {
            @include clamp-w-h(10%, 100%, 100%,  3rem, 4rem, 10rem);

        }
}

.ftr-social-cnt {
    @include clamp-w-h(10%, 50%, 100%, 3rem, 4rem, 10rem);    @include frcc;
    display: flex;
    align-items: center;
    @include respond-to(lg) {
            @include clamp-w-h(10%, 100%, 100%,  3rem, 4rem, 10rem);

        }
}


.ftr-sec2-cnt {
    @include w-100-h-auto;
    @include frsc;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
}

.ftr-sec2-title {
    @include w-100-h-auto;
    @include frsc;
    font-size: 1.2rem;
    padding: 1rem 0.1rem;
}

.ftr-cat-ul {
    @include w-100-h-auto;
    @include frsc;
    gap: 1rem;
    flex-wrap: wrap;
}
.ftr-cat-li{
    @include w-h-auto;
    list-style-type: none;
    padding: 0.3rem, 0.5rem;

    a {
        @include w-h-auto;
        color: $accent-color1;
        text-decoration: none;
        white-space: nowrap;
    }
}

.ftr-cat-li a::before {
    content: "■";
    font-size: 1rem;
    margin-right: 0.5rem;
}
.ftr-cat-li:hover a::before {
    color: $link-color;
}

.dark .ftr-cat-li a{
    color: $accent-color;
}
.dark .ftr-cat-li:hover a {
    color: $link-color;
}
.ftr-subcat-li {
    @include frsc;
    list-style-type: none;
    padding: 0.3rem, 0.5rem;

    a {
        @include w-h-auto;
        color: $accent-color1;
        text-decoration: none;
        white-space: nowrap;
    }
}

.ftr-subcat-li a::before {
    content: "■";
    font-size: 1rem;
    margin-right: 0.5rem;
}

.ftr-subcat-li:hover a::before {
        color: $link-color;
}


.dark .ftr-subcat-li a{
        color: $accent-color;
}
.dark .ftr-subcat-li:hover a{
        color: $link-color;
}







.ftr-sec3 {
    @include w-100-h-auto;
    @include frsbc;
    gap: 1rem;
    padding: 0 1rem;

    @include respond-to(sm) {
        @include fccc;
    }
}

.ftr-sec3-pages {
        @include clamp-w-h(10%, 50%, 100%, 3rem, auto, 20rem);
        @include fcsc;
        @include respond-to(sm) {
            @include w-100-h-auto;
        }
}

.ftr-sec3-title {
    @extend .ftr-sec2-title;
}

.ftr-pages-ul {
    @include fcsc;
    @include w-h-auto;
    align-self: flex-start;
}

.ftr-page-li {
    @include frsc;
    @include w-100-h-auto;
    list-style-type: none;

    a {
        @include w-100-h-auto;
        color: $accent-color1;
        text-decoration: none;
        text-align: left;
        white-space: nowrap;
    }
}

.dark .ftr-page-li a {
    color: $accent-color;
}
.dark .ftr-page-li:hover a {
    color: $link-color;
}


.ftr-sec3-logo {
    @include clamp-w-h(10%, 50%, 100%, 3rem, auto, 20rem);
    display: flex;
    flex-direction: column;
    align-items: end;

    @include respond-to(sm) {
            @include fcsc;
            @include w-100-h-auto;
            align-items: flex-start;
        }
}

.ftr-sec3-child1 {
    @include clamp-w-h(10%, 50%, 100%, 3rem, auto, 20rem);
    @include fcsc;
    @include respond-to(sm) {
            @include fcss;
            @include w-100-h-auto;
        }
}

.ftr-logo-img-cnt {
    @include clamp-w-h(3rem, 8rem, 100%, 3rem, 8rem, 20rem);
    @include fccc;
    padding: 0;
    position: relative;
    border: 1px solid #242424;
}
.custom-logo-link {
    @include w-h-100;
    @include fccc;
}

.ftr-img {
    @include w-h-100;
    object-fit: cover;
    position: absolute;
}

.ftr-web-title {
    @include w-h-auto;
    @include fccc;
    font-size: 1.5rem;
}


